* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    background-color: #007200;
}

header h1 {
    font-size: 80px;
}

header nav {
    display: flex;
}

header nav a {
    margin-right: 20px;
    font-size: 20px;
}

header nav a:hover {
    color: rgb(0, 0, 0);
}

/* Add an outline to the Login/Signup button */
nav a.login-signup {
    outline: 2px solid #ffffff; /* Adjust the color and width as needed */
    padding: 5px; /* Optional: Add padding for better appearance */
    border-radius: 5px; /* Optional: Add border-radius for rounded corners */
}

a { color: #ffffff;
    text-decoration: none;
}

.hero img{
   image-rendering: auto;
    height: 600px;
    width: 100%;
    padding-bottom: 0%;
    border: #0b5011;
    
}



main {
    display: block;
    justify-content: space-between;
    align-items: center;
   height: 250px;
  
}

main h2 {
font-size: 40px;
}

.paragraph {
    font-size: 30px;
}

.about-Us{
    image-rendering: auto;
    height: 600px;
    width: 100%;
    padding-bottom: 0%;
    border: #0b5011;
}

#about-Us {
    margin-top: auto;
    background-color: rgb(255, 255, 255);
    padding-bottom: 0%;
}

#projects {
    background-color: #007200;
    color: #ffffff;
    
}


#contact {
    background-color: #006400;

}

#contact a {
    color: #cf5d1b;
}

h3 {
    color: #0f4a61;
    display: flex;
    flex-wrap: wrap;
}

h3:hover {
    color: rgb(236, 11, 11);
    
}

#contact nav ul {
    display: block;

}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
}

/* Mobile styles */
@media (max-width: 600px) {
    h3 {
        font-size: 1.2em;
    }

    #contact nav ul {
        display: flex;
        flex-direction: column;
    }

    /* Add more mobile-specific styles here */
}

/* Tablet styles */
@media (min-width: 601px) and (max-width: 1024px) {
    h3 {
        font-size: 1.5em;
    }

    #contact nav ul {
        display: flex;
        flex-direction: row;
    }

    /* Add more tablet-specific styles here */
}

/* Desktop styles */
@media (min-width: 1025px) {
    h3 {
        font-size: 2em;
    }

    #contact nav ul {
        display: block;
    }

    /* Add more desktop-specific styles here */
}


/* 

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #082838;
    color: #41b3c7;
    display: flex;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
}

.header h1 {
    display: inline-block;
    
}

.header h1 .seo {
    color: #318c8f;
}

.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}


.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #1b9296;
    text-decoration: none;
}

p {
    font-size: 30px;
}

.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #c9713f;
    color: #000000;
    flex-direction: row;
}


footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    position: relative;
    font-size: 20px;
    color: #023c44;
    flex-direction: ;
   
    
}



 */